body {
    margin: 0;
    padding: 0;
    position: relative;
}

.border {
    border-top: 60px solid #073858;
    overflow: hidden;
}

.borders {
    border-top: 60px solid #073858;
}


.lower_border {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 100px solid #073858;
}

.lower_border_category {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #073858;
    margin-top: auto;
}

.lower_border_category2 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #073858;
    margin-top: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    top: -60px;
    position: relative;
}

.hero {

    text-align: center;
    position: relative;
    top: -60px;
}

.bon {
    text-align: center;
    font-style: italic;
    font-family: 'Franziska, Georgia, Cambria';
    font-size: 30px;
    margin-top: -3px;
    position: relative;
    top: -60px;
}

.bon2 {
    text-align: center;
    font-style: italic;
    font-family: 'Franziska, Georgia, Cambria';
    font-size: 20px;
    margin-top: -18px;
    position: relative;
    top: -60px;
}

.nav {
    margin-top: -462px;
    padding-left: 10px;
}

.dropdown {
    appearance: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 36px;
    width: 52px;
    position: absolute;
    top: -53px;
    left: 10px;
    height: 50px;
}

.dropdown:hover {
    border-color: #007BFF;
    background-color: #f4854f;
    cursor: pointer;
}

.values {
    font-size: 15px;
}

.homebutton {
    background-color: #f4854f;
    color: #073858;
    border-radius: 8px;
    font-weight: bolder;
    position: absolute;
    top: -45px;
    left: 10px;
    font-family: Copperplate;
    font-size: medium;
    padding: 5px;
}


.loginbutton {
    background-color: #f4854f;
    color: #073858;
    border-radius: 8px;
    font-weight: bolder;
    position: absolute;
    top: -45px;
    right: 10px;
    font-family: Copperplate;
    font-size: medium;
    padding: 5px;
}

.buybutton {
    position: relative;
    bottom: 0px;
    height: 50px;
    width: 100%;
    color: #fff;
    font-weight: bolder;
    font-size: medium;
    border: 1px solid #f4854f;
    background-color: #f4854f;
    padding: 9px 12px;
    border-radius: 8px;
}

.buybutton:hover {
    background-color: #073858;
}


.loginbutton2 {
    background-color: #f4854f;
    color: #073858;
    border-radius: 8px;
    font-weight: bolder;
    font-family: Copperplate;
    font-size: medium;
    padding: 5px;
}

.cat-h1 {
    text-align: center;
    font-family: 'ResotELavender', sans-serif;
    text-shadow: 1px 12px 7px rgba(0, 0, 0, 0.3);
    color: #4A90E2;
    font-weight: 300;

}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

}

.fa:hover {
    opacity: 0.7;
}

/* Social Media buttons */

.fa-facebook {
    background: black;
    color: #073858;
}

.fa-twitter {
    background: #073858;
    color: black;
}

.fa-linkedin {
    background: black;
    color: #073858;
}

.social-media-icons {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

.social-media-icons-category {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -5px;
    transform: translateX(-50%);
    left: 50%;
    gap: 15px;
    z-index: 200;
}

.social-icon {
    font-size: 30px;
    color: #073858;
    text-decoration: none;
}

.klarna-icon {
    position: fixed;
    bottom: -30px;
    right: 50px;
    transform: scale(0.4);
    width: 100px;
    height: auto;
}

.klarna-icon-category {
    position: relative;
    right: -90%;
    transform: scale(0.3);
    width: 100px;
    height: auto;
    z-index: 200;
    bottom: 95px;
}

.cat {
    border-radius: 10px;
    background-color: grey;
    color: white;
    font-family: Georgia, serif;
    font-size: medium;
    font-weight: bolder;
}


.bordercat {
    table-layout: fixed;
    text-align: center;
    border-radius: 5px;
    background-color: #145b7f;
    color: white;
    font-family: Georgia, serif;
    font-size: medium;
    font-weight: bolder;

}

.bordercatname {
    color: white;
    font-family: Georgia, serif;
}

.bordercatimg {
    border-radius: 5px;
    color: #145b7f;
    border: 2px solid #145b7f;
    object-fit: contain;
    text-align: center;
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    justify-content: center;
}

.product-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 6px;
    border: 1px solid #145b7f;
    background-color: #145b7f;
    border-radius: 8px;
}

.product-box img {
    width: 90%;
    height: 300px;
    border-radius: 8px;
}

.product-box h3 {
    margin: 12px 0;
    font-size: 18px;
    color: white;
    text-overflow: ellipsis;
    line-height: 16px;
    max-height: 70px;
}

.product-box h4 {
    color: white;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 2px;
}

.price-2 {
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: -10px;
    margin-top: -8px;
    text-decoration: line-through;
}

.discount-price-2 {
    color: red;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: -10px;
    margin-top: -8px;
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 25px;
    border: 2px solid #073858;
    overflow: hidden;
    position: relative;
    top: -60px;
}


.search-input {
    flex: 1;
    border: 5px;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    box-shadow: #073858;
}


.search-input::placeholder {
    color: #999;
}


.search-button {
    background-color: #145b7f;
    color: white;
    border: 2px;
    border-color: #073858;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.search-button:hover {
    background-color: #f4854f;
}

.blue_box {
    border-radius: 25%;
    background-color: #073858;
    padding: 5%;
    width: 30%;
    height: 43%;
    left: 30%;
    display: block;
    position: fixed;
    text-align: center;
    font-size: 60px;
    color: #f4854f;
    font-family: Copperplate;
    font-weight: bolder;
    line-height: 10px;
    z-index: -1;
}

.username_bar {
    display: flex;
    justify-content: center;
    padding-top: 9%;
}

.username_bar input {
    width: 300px;
    padding: 3px;
    font-size: 16px;
}

.email_bar {
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

.email_bar input {
    width: 300px;
    padding: 4px;
    font-size: 16px;
}

.password_bar {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.password_bar input {
    width: 300px;
    padding: 3px;
    font-size: 16px;
}

.confirm_password_bar {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.confirm_password_bar input {
    width: 300px;
    padding: 3px;
    font-size: 16px;
}

.buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.login_button2 {
    display: block;
    margin: 20px auto 0 auto;
    background-color: #f4854f;
    color: #073858;
    border-radius: 8px;
    font-weight: bolder;
    font-family: Copperplate;
    font-size: 20px;
    padding: 7px 15px;
    border: 2;
    text-align: center;
    position: fixed;
    margin-bottom: 42%;
}

.email_bar_login {
    display: flex;
    justify-content: center;
    padding-top: 12%;
}

.email_bar_login input {
    width: 300px;
    padding: 4px;
    font-size: 16px;
}

.password_bar_login {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.password_bar_login input {
    width: 300px;
    padding: 3px;
    font-size: 16px;
}

.register_button {
    margin: 20px auto 0 auto;
    display: block;
    background-color: #f4854f;
    color: #073858;
    border-radius: 8px;
    font-weight: bolder;
    font-family: Copperplate;
    font-size: 20px;
    padding: 7px 15px;
    border: 1;
    position: fixed;
    margin-bottom: 35%;
    margin-left: 20%;
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    top: 27%;
    right: 10%;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
}


.product-details {
    font-size: 14px;
    position: fixed;
    width: 60%;
    top: 20%;
    left: 2%;
    color: #000000;
    font-family: 'Copperplate', sans-serif;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-details.category {
    font-size: 16px;
    font-weight: bolder;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-details .original-price {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-decoration: line-through;
    margin-right: 10px;
}



/* Price for products without a discount (if statement) */

.product-details .pricing {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-right: 10px;
}

.product-details .discount-price {
    font-size: 30px;
    font-weight: bolder;
    color: #e74c3c;
    margin-bottom: 10px;
}

.product-details .buybutton-2 {
    border-radius: 10px;
    font-size: 18px;
    width: 160px;
    text-align: center;
    line-height: 25px;
    border: #f4854f solid 1px;
    height: auto;
    padding: 10px 20px;
    color: white;
    background-color: #3676a0;
    display: inline-block;
}

.buybutton-2:hover {
    background-color: #f4854f;
}


.product-details .store {
    font-size: 14px;
    font-weight: bolder;
    color: #3498db;
    font-family: 'Copperplate', sans-serif;
    margin-bottom: 10px;
}

.product-details .description {
    font-size: 13px;
    color: #555555;
    margin-bottom: 20px;
    line-height: 1.8;
}






.flashes {
    list-style-type: none;
    padding: 10px;
}

.success {
    color: green;
}

.error-message {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    top: 120px;
    color: rgb(255, 149, 111)
}

.error-message-2{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    position: fixed;
    bottom: 57%;
    left: 38%;
    z-index: 1000;
    color: rgb(255, 149, 111)
}

.top-button {
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 100;
    background-color: #073858;
    color: white;
    font-size: 14px;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.7;
}

.top-button:hover {
    background-color: #073858;
    opacity: 1.0;
}

.username-display {
    font-size: 18px;
    top: 10%;
    margin-left: 80%;
    position: absolute;
    top: 20px;
    color: #f4854f;
}

.username-text {
    color: white;
}

.dropdown-products {
    border-radius: 10px;
    padding: 6px 10px;
    border-width: 2px;
    cursor: pointer;
    font-size: medium;
}

.dropdown-product-label {
    font-size: 23px;
    font-weight: bold;
}

.search-button-products {
    border-radius: 10px;
    background-color: #145b7f;
    color: white;
    border: 2px;
    border-color: #073858;
    padding: 10px 12px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    top: -10px;
}


.search-button-products:hover {
    background-color: #f4854f;
}

.table-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
}

.catborder {
    table-layout: fixed;
    width: 75%;
}

.gif-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 100px;
    position: sticky;
    top: 10px;
}

.gif-ad {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.gif-ad:hover {
    transform: scale(1.05);
}

.cat-h1 {
    text-align: center;
    font-family: 'ResotELavender', sans-serif;
    text-shadow: 1px 12px 7px rgba(0, 0, 0, 0.3);
    color: #4A90E2;
    font-weight: 300;
}