body {
    margin: 0;
    padding: 0;
    position: relative;
}

.border {
    border-top: 60px solid #073858;
    overflow: hidden;
}

.borders {
    border-top: 60px solid #073858;
}


.lower_border {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 100px solid #073858;
}

.lower_border_category {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 60px solid #073858;
}

.header {
    text-align: center;
    margin-top: -60px;
}

.hero {

    text-align: center;
}

.bon {
    text-align: center;
    font-style: italic;
    font-family: 'Franziska, Georgia, Cambria';
    font-size: 30px;
    margin-top: -3px;
}

.bon2 {
    text-align: center;
    font-style: italic;
    font-family: 'Franziska, Georgia, Cambria';
    font-size: 20px;
    margin-top: -18px;
}

.nav {
    margin-top: -462px;
    padding-left: 10px;
}

.dropdown {
    appearance: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 36px;
    width: 52px;
    position: absolute;
    top: -53px;
    left: 10px;
    height: 50px;
}

.dropdown:hover {
    border-color: #007BFF;
    background-color: #f4854f;
    cursor: pointer;
}

.values {
    font-size: 15px;
}

.homebutton {
    background-color: #f4854f;
    color: #073858;
    border-radius: 8px;
    font-weight: bolder;
    position: absolute;
    top: -45px;
    left: 10px;
    font-family: Copperplate;
    font-size: medium;
    padding: 5px;
}


.loginbutton {
    background-color: #f4854f;
    color: #073858;
    border-radius: 8px;
    font-weight: bolder;
    position: absolute;
    top: -45px;
    right: 10px;
    font-family: Copperplate;
    font-size: medium;
    padding: 5px;
}

.buybutton {
    height: 50px;
    width: 100%;
    color: #fff;
    font-weight: 600;
    border: 1px solid #0096db;
    background-color: #0096db;
    padding: 9px 12px;
    border-radius: 3px;
}

.loginbutton2 {
    background-color: #f4854f;
    color: #073858;
    border-radius: 8px;
    font-weight: bolder;
    font-family: Copperplate;
    font-size: medium;
    padding: 5px;
}

.cat-h1 {
    text-align: center;
    font-family: 'ResotELavender', sans-serif;
    text-shadow: 1px 12px 7px rgba(0, 0, 0, 0.3);
    color: #4A90E2;
    font-weight: 300;

}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

}

.fa:hover {
    opacity: 0.7;
}

/* Social Media buttons */

.fa-facebook {
    background: black;
    color: #073858;
}

.fa-twitter {
    background: #073858;
    color: black;
}

.fa-linkedin {
    background: black;
    color: #073858;
}

.social-media-icons {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

.social-media-icons-category {
    position: fixed;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

.social-icon {
    font-size: 30px;
    color: #073858;
    text-decoration: none;
}

.klarna-icon {
    position: fixed;
    bottom: -30px;
    right: 50px;
    transform: scale(0.4);
    width: 100px;
    height: auto;

}

.klarna-icon-category {
    position: fixed;
    bottom: -48px;
    right: 50px;
    transform: scale(0.3);
    width: 100px;
    height: auto;
}

.cat {
    border-radius: 10px;
    background-color: grey;
    color: white;
    font-family: Georgia, serif;
    font-size: medium;
    font-weight: bolder;
}


.bordercat {
    text-align: center;
    border-radius: 5px;
    margin-right: 5%;
    background-color: #145b7f;
    color: white;
    font-family: Georgia, serif;
    font-size: medium;
    font-weight: bolder;
    width: 100px;
    height: 200px;
    padding: 20px;
}

.bordercatname {
    color: white;
    font-family: Georgia, serif;
}

.bordercatimg {
    border-radius: 5px;
    margin-right: 5%;
    width: 100px;
    height: 100px;
    text-align: center;
    color: #145b7f;
    font-family: Georgia, serif;
    font-size: medium;
    font-weight: bolder;
    object-fit: cover;
    border: 2px solid #145b7f;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    justify-content: center;
}

.product-box {
    width: 400px;
    height: 500px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.product-box img {
    width: 390px;
    height: 300px;
    border-radius: 8px;
}

.product-box h3 {
    margin: 12px 0;
    font-size: 18px;
}

.product-box p {
    color: #ea2425;
    font-size: 25px;
    font-weight: 600;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 25px;
    border: 2px solid #073858;
    overflow: hidden;
}


.search-input {
    flex: 1;
    border: 5px;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    box-shadow: #073858;
}


.search-input::placeholder {
    color: #999;
}


.search-button {
    background-color: #145b7f;
    color: white;
    border: 2px;
    border-color: #073858;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.search-button:hover {
    background-color: #f4854f;
}

.blue_box {
    border-radius: 25%;
    background-color: #073858;
    padding: 5%;
    width: 30%;
    height: 43%;
    left: 30%;
    margin-top: 35px;
    display: block;
    position: fixed;
    text-align: center;
    font-size: 60px;
    color: #f4854f;
    font-family: Copperplate;
    font-weight: bolder;
    line-height: 10px;
    z-index: -1;
}

.username_bar {
    display: flex;
    justify-content: center;
    padding-top: 12%;
}

.username_bar input {
    width: 300px;
    padding: 3px;
    font-size: 16px;
}

.email_bar {
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

.email_bar input {
    width: 300px;
    padding: 4px;
    font-size: 16px;
}

.password_bar {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.password_bar input {
    width: 300px;
    padding: 3px;
    font-size: 16px;
}

.confirm_password_bar {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.confirm_password_bar input {
    width: 300px;
    padding: 3px;
    font-size: 16px;
}

.buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.login_button2 {
    display: block;
    margin: 20px auto 0 auto;
    background-color: #f4854f;
    color: #073858;
    border-radius: 8px;
    font-weight: bolder;
    font-family: Copperplate;
    font-size: 20px;
    padding: 7px 15px;
    border: 2;
    text-align: center;
    position: fixed;
    margin-bottom: 42%;
}

.email_bar_login {
    display: flex;
    justify-content: center;
    padding-top: 14%;
}

.email_bar_login input {
    width: 300px;
    padding: 4px;
    font-size: 16px;
}

.password_bar_login {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.password_bar_login input {
    width: 300px;
    padding: 3px;
    font-size: 16px;
}

.register_button {
    margin: 20px auto 0 auto;
    display: block;
    background-color: #f4854f;
    color: #073858;
    border-radius: 8px;
    font-weight: bolder;
    font-family: Copperplate;
    font-size: 20px;
    padding: 7px 15px;
    border: 1;
    position: fixed;
    margin-bottom: 33%;
    margin-left: 20%;
}

.flashes {
    list-style-type: none;
    padding: 10px;
}

.success {
    color: green;
}

.error-message {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.top-button {
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 100;
    background-color: #073858;
    color: white;
    font-size: 14px;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-button:hover {
    background-color: #f4854f;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.catborder {
    width: 75%;
    border-collapse: collapse;
    margin-right: 20px;
    border: 1px solid #ddd;
}

.catborder th,
.catborder td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.gif-ad {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gif-ad img {
    width: 100%;
    max-width: 350px;
    height: auto;
}