<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/image/2.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="border">
<div class="lower_border"></div>
<div class="header">
    <a href="/">
    <img src="static/image/4update.png" alt="CostCruiser">
    </a>
</div>
<button class="homebutton" onclick="window.location.href='/';">Back to Shore</button>


<form action="{{ url_for('login') }}" method="POST" id="loginForm">
    <div class="blue_box">Login</div>
<div class="error_message">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>
    <div class="email_bar_login">
        <input type="email" name="email" placeholder="Enter your email" required>
    </div>


    <div class="password_bar_login">
        <input type="password" name="password" placeholder="Enter your password" required>
    </div>


    <div class="buttons_container">
        <button type="submit" class="login_button2">Login</button>
        <button class="register_button" onclick="window.location.href='/register';">Register</button>
    </div>
</form>


<div class="social-media-icons">
    <a href="https://www.linkedin.com/" target="_blank" class="social-icon">
        <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://twitter.com/" target="_blank" class="social-icon">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/" target="_blank" class="social-icon">
        <i class="fa fa-facebook"></i>
    </a>
</div>


<div class="klarna-icon">
    <a href="https://www.klarna.com/se/villkor/" target="_blank">
        <img src="static/image/Klarna.png" alt="Klarna">
    </a>
</div>

</body>
</html>
