<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/image/2.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CostCruiser</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body class="borders">
        <div class="header">
            <a href="/">
            <img src="/static/image/4update.png" alt="CostCruiser">
            </a>
        </div>
    <button class="homebutton" onclick="window.location.href='/';">Back to Homepage</button>
    <form class="search-container" action="/search" method="get">
        <input type="text" class="search-input" name="searchinput" placeholder="Search for products..." required>
        <button type="submit" class="search-button">Search</button>
    </form>
    <div class="product-container">
        <div class="product-image">
            <img src="{{ product.image }}" alt="{{ product.name }}" onerror="this.onerror=null; this.src='/static/image/missing_image.png';">
        </div>
        <div class="product-details">
            <h1>{{ product.name }}</h1>
            <p class="category">Category: {{ product.category_name }}</p>
            <p class="store">Store: {{ product.store_name }}</p>
            <p class="description">{{ product.description }}</p>
            <div class="pricing">
             <span class="price">
            {% if product.discount_price %}
                <span class="original-price">{{ product.price }} SEK</span>
                {% else %}
                {{ product.price }} SEK
                {% endif %}
                </span>
            {% if product.discount_price %}
                    <span class="discount-price">{{ product.discount_price }} SEK</span>
                {% endif %}
            </div>
            <button class="buybutton" onclick="window.location.href='{{ product.website_url }}';">BUY NOW</button>
        </div>
    <div class="lower_border_category">
        <div class="social-media-icons-category">
            <a href="https://www.linkedin.com/" target="_blank" class="social-icon">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://twitter.com/" target="_blank" class="social-icon">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/" target="_blank" class="social-icon">
                <i class="fa fa-facebook"></i>
            </a>
            </div>
            <div class="klarna-icon-category">
                <a href="https://www.klarna.com/se/villkor/" target="_blank">
                    <img src="static/image/Klarna.png" alt="Klarna">
                </a>
        </div>
    </div>
</body>
</html>
