<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/image/2.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="border">
<div class="lower_border"></div>
<div class="header">
    <a href="/">
    <img src="static/image/4update.png" alt="CostCruiser">
    </a>
</div>
<button class="homebutton" onclick="window.location.href='/';">Back to Shore</button>
<div class="blue_box">Register</div>

<form action="/register" method="POST" class="register-form">
    {% if error %}
        <div class="error-message">
            {{ error }}
        </div>
    {% endif %}
    <div class="username_bar">
        <input type="username" name="username" placeholder="Username" required>
    </div>
    <div class="email_bar">
        <input type="email" name="email" placeholder="Email" required>
    </div>
    <div class="password_bar">
        <input type="password" name="password" placeholder="Password" required>
    </div>
    <div class="confirm_password_bar">
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    </div>
    <div class="buttons_container">
        <button type="submit" class="login_button2">Register</button>
        <button type="button" class="register_button" onclick="window.location.href='/login';">Back to Login</button>
    </div>
</form>
<div class="social-media-icons">
    <a href="https://www.linkedin.com/" target="_blank" class="social-icon">
        <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://twitter.com/" target="_blank" class="social-icon">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/" target="_blank" class="social-icon">
        <i class="fa fa-facebook"></i>
    </a>
    </div>
    <div class="klarna-icon">
        <a href="https://www.klarna.com/se/villkor/" target="_blank">
            <img src="static/image/Klarna.png" alt="Klarna">
        </a>
    </div>
</body>
</html>