<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/image/2.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CostCruiser</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="borders">
    <div class="lower_border_category"></div>
    <div class="header">
        <img src="static/image/4update.png" alt="CostCruiser">
    </div>
    <button class="homebutton" onclick="window.location.href='/';">Back to Homepage</button>
    <form action="/search" method="get">
        <!-- Search Bar -->
        <div class="search-container">
            <input type="text" class="search-input" name="searchinput" value="{{ request.args.get('searchinput', '') }}" placeholder="Search for products..." required>
            <button type="submit" class="search-button">Search</button>
        </div>
        <div class="container">
            <!-- Sorting Options -->
            <div>
                <label>Sort by:</label>
                <select id="ORDERBYinput" name="ORDERBY">
                    <option value="" selected disabled hidden>Price: low to high</option>
                    <option value="price ASC">Price: low to high</option>
                    <option value="price DESC">Price: high to low</option>
                    <option value="discount_price DESC">Best discount %</option>
                    <option value="ratings DESC">Rating: high to low</option>
                    <option value="product_name ASC">Product name: A-Z</option>
                </select>
            </div>

            <!--Limit Options--> 
            <div>
                <label for="limit">Results per page:</label>
                <select id="LIMITinput" name="LIMITinput">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="1000">1000</option>
                    <option value="5000">5000</option>
                </select>
            </div>

            <!-- category filter -->
            <div>
                <label for="WHEREinput">Category:</label>
                <select id="WHEREinput" name="WHEREinput">
                    <option value="" selected>All Categories</option>
                    <option value=" AND category_name = 'electronics'">Electronics</option>
                    <option value=" AND category_name = 'Fitness accessories'">Fitness accessories</option>
                    <option value=" AND category_name = 'Garden and outdoors'">Garden and outdoors</option>
                    <option value=" AND category_name = 'Home and kitchen'">Home and kitchen</option>
                    <option value=" AND category_name = 'Dog supplies'">Dog supplies</option>
                </select>
            </div>
            <!-- Submit Button -->
            <div>
                <button type="submit" class="search-button">Apply</button>
            </div>
        </div>
    </form>
    <div class="container">
        {{ rows | safe }}
    </div>
    <div class="social-media-icons-category">
        <a href="https://www.linkedin.com/" target="_blank" class="social-icon">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" class="social-icon">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/" target="_blank" class="social-icon">
            <i class="fa fa-facebook"></i>
        </a>
    </div>
    <div class="klarna-icon-category">
        <a href="https://www.klarna.com/se/villkor/" target="_blank">
            <img src="static/image/Klarna.png" alt="Klarna">
        </a>
    </div>
    <a href="#top" class="top-button">
        <i class="fa fa-arrow-up"></i>
    </a>
</body>

</html>